html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(/public/bg.jpg) no-repeat;
  background-size: 100%;
  /* background-position: bottom; */
  background-color: rgb(163, 226, 250);
}

form {
  padding: 20px;
  margin: 80px;
  margin-top: 120px;
  border-radius: 8px;
}
